# Version control
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE
.vscode
.idea

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Build
frontend/build
frontend/dist

# Development
*.log
.DS_Store 